.footer__links {
    display: grid;
    grid-template-columns: 50px 57px 94px 86px 106px;
    grid-template-rows: 18px;
    gap: 18px;
    margin: 0;
    position: 0;
}

@media screen and (max-width: 390px) {
    .footer__links {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(5, 27px);
        gap: 30px;
    }
}

@media screen and (max-width: 320px) {
    .footer__links {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(5, 24px);
        gap: 32px;
    }
}
