.footer {
    margin: 0 48px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 0 24px; 
    }
}